<div class="all-site-wrap">
    <div class="post-area">
        <div class='loginarea'>
            <header>Login</header>
            <form class="form-post">
                <label>Username</label>
                <input type="text" placeholder="Enter Username">
                <label>Password</label>
                <input type="password" placeholder="Enterpassword">
                <input type="submit" value="Login" class="submit">
            </form> 
            <span>Are you feeling to create a Account??</span><a href="/register">click here.</a>
        </div>
        
    </div>
   
</div>
