<div class="all-site-wrap">
    <div class="post-area">
        <div class="registerarea">
            <header>Register</header>
             <form class="form-post">
                <label>Username</label>
                <input type="text" placeholder="Enter Username">
                <label>Password</label>
                <input type="password" placeholder="Enter password">
                <label>Re-enter Password</label>
                <input type="password" placeholder="Re-enter password">
                <input type="submit" value="Sign Up" class="submit">
            </form> 
        </div>
    </div>
</div>
